{{ $currentNode := . }}

{{ range .Site.Menus.main.ByWeight }}

{{ $.Scratch.Set "currentMenuEntry" . }}
<li>
  {{ if .HasChildren }}
    {{ partial "nav_link" $currentNode }}
    {{if $currentNode.Parent}}
        {{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }}
            <ul>
              {{ range .Children }}
                {{ $.Scratch.Set "currentMenuEntry" . }}
                {{ partial "nav_link" $currentNode }}
              {{ end }}
            </ul>
        {{end}}
    {{end}}
  {{ else }}
    {{ partial "nav_link" $currentNode }}
  {{ end }}
</li>
{{ end }}
